fastapi
uvicorn
sqlalchemy
psycopg2
pgvector
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
openai
pypdf
tiktoken
jieba
numpy
docx2txt
requests
python-dotenv
